/** @format */
:root {
	--site-colour: #f1b444;
}

form {
	display: inline-block;
}

body {
	background-color: var(--site-colour);
	text-align: center;
}

h1 {
	color: rgb(207, 9, 9);
	font-family: "Lucida Sans", Verdana, sans-serif;
	text-align: center;
}

ul {
	background: var(--site-colour) 4;
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
}

li {
	padding: 5px;
	margin: 5px;
	line-height: 2.5em;
	border-color: var(--site-colour);
}

.jumbotron {
	background-color: var(--site-colour);
	padding: 0px;
}

/* center the image */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 7%;
}

.container {
	padding-bottom: 15px;
}

/* list settings */
.list-div {
	width: 100%;
}

.button-list {
	background: var(--site-colour);
	justify-content: center;
}

.button-list li {
	padding: 7px 5px 5px 5px;
	line-height: 2em;
	height: 52px;
}

.input-list {
	outline: none !important;
	background: #faebd7;
	border: #faebd7;
	width: 100%;
	text-align: center;
}

.list-devoured {
	color: darkgrey;
}

/* the devour button */
.devour {
	background-color: rgb(255, 125, 0);
	color: whitesmoke;
	height: 36px;
	vertical-align: middle;
	width: 100%;
	/* border: none; */
	cursor: pointer;
	border-radius: 4px;
	padding: 0px;
}

.devour:hover {
	background-color: orangered;
}

.label {
	font-weight: bold;
}

/* form controls */
.form-input {
	width: 300px;
	margin-bottom: 10px;
}

.create-form {
	justify-content: center;
	padding: 5px;
	margin: 5px;
}

.form-group {
	margin-bottom: 5px;
}
